html, body {
  height: 100%;
  width: 100%;
  margin:0px;
}

@font-face {
  font-family: "NightZone";
  src: url("../../fonts/NightZone.ttf")format('truetype');
}

@font-face {
  font-family: 'corbel';
  src: url('corbel.ttf') format('truetype');
}

#bar{
  display:flex;
  flex-direction: row;
  background-color: orange;
  justify-content: space-between;
  width: 100%;
  float:right;
  height: 15vh;
  top:0;
  left:0;
  z-index: 4;
}

#listbar{
  list-style: none;
  margin: 0;
  padding: 0;
}

#listbar li{
  display:inline-flex;
  margin-right:2px;
  height: 20vh;
  width: auto;
}

#bar-bulogo{
  width:25vh;
  height:auto;
  margin-right: 10vw;
  margin-top: 1vh;
  margin-left:10vw;
}

.bar-smallbaricon{
  width:20vh;
  height:auto;
}

.bar-bigbaricon{
    width: 15vh;
    height: auto;
}


@media only screen and (min-width: 500px) {

  #talk-bulletwrapper{
    display:inline-block;
    margin-left:5vw;
  }

  #mbar{
    display:none;
  }
  
  .talk-bullets{
    height: 7.5vh;
    width: auto;
    margin:2vh;
  }
  
  #talk-talk{
    height:20vh;
    width:auto;
  }
  
  #talk-bg{
    border-bottom: 75vh solid #008dd2;
    border-left: 0px solid transparent;
    border-right: 50vh solid transparent;
    height: 0;
    width: 50vw;
    position: absolute;
    z-index:2;
  }
  
  #s4ytsection{
    display:flex;
    flex-direction:row;
    background-color: #68b436;
    width:100%;
    height:75vh;
    background-image: url(../assets/dollarpage/background.png) ;
    justify-content: flex-start;
  }
  
  #s4yt-leftsec{
    display:flex;
    flex-direction: row;
    margin-left:5vw;
    margin-top:2vh;
  }
  
  #s4yt-infobuttons{
    display: flex;
    flex-direction: column;
    margin-left: 139px;
    margin-top: 8rem;
    width: 293px;
    justify-self:first baseline;
  }

  #s4yt-what, #s4yt-ami, #s4yt-when, #s4yt-howdo, #s4yt-whatare{
    width:25vh;
    height: 8vh;
    margin-left:-4vw;
    margin-bottom:2vh;
  }

  #s4yt-what:hover:not(.active){
    content: url("../assets/01_more-info/btn_01-what-is-hover.png");
  }

  #s4yt-ami:hover:not(.active){
    content: url("../assets/01_more-info/btn_02-am-i-hover.png");
  }

  #s4yt-when:hover:not(.active){
    content: url("../assets/01_more-info/btn_03-when-can-hover.png");
  }

  #s4yt-howdo:hover:not(.active){
    content: url("../assets/01_more-info/btn_04-how-do-i-hover.png");
  }

  #s4yt-whatare:hover:not(.active){
    content: url("../assets/01_more-info/btn_05-what-are-hover.png");
  }

  #text-info{
    color: #008dd2;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    margin-left:4rem;

  }
  }

#text-info h3{
  font-family: 'NightZone'
}


#text-info ul{
  font-family: "corbel"
}


#s4yt-click{
  width:auto;
  height: 20vh;
  margin-left:-4vw;
  margin-bottom:2vh;
}
    
  
#s4yt-paper{
  width:auto;
  height:60vh;
  margin-top:5vh;
}

        
#s4yt-leftsec{
  display:flex;
  flex-direction: row;
  margin-left:5vw;
  margin-top:2vh;
}
    
  

#txt1, #txt2, #txt3, #txt4, #txt5{
  display:none;
}

#listbar1{
  display: none;
}

@media (max-width: 600px){
  #s4yt-paper{
    display: none;
  }
  #mbar{
    display:flex;
    flex-direction: row;
    background-color: orange;
    justify-content: center;
    width: 100%;
    float:right;
    height: 15vh;
    top:0;
    left:0;
    z-index: 5;
  }

  #mbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #bar{
    display: none;
  }
  #s4yt-leftsec{
    display:none;
  }
  /*
  .bar-smallbaricon{
    display:none;
  }
  .bar-bigbaricon{
    display:none;
  }
  */
  #listbar1{
    list-style: none;
  }
  #listbar1.show-menu{
    display:flex;
    flex-direction: column;
    background-color: orange;
    text-align: center;
    width: 100%;
    float:right;
    height: 100%;
    top:100px;
    left:0;
    position: fixed;
    z-index: 4;
  }
}