@font-face {
  font-family: "NightZone";
  src: url("../../fonts/NightZone.ttf") format("truetype");
}

@font-face {
  font-family: "coolvetica";
  src: url("../../fonts/coolvetica.otf") format("opentype");
}

:root {
  --text-color: #0894d4;
  --base-ff: coolvetica, san-serif;
}


body{
  background-image: url("/mockups/assets/dollarpage/background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vmax;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 1em;
}

.main-content > aside {
  padding: 1em;
  border: 1px solid black;
}

.mapping-content img {
  height: 550px;
}

.mapping-content-description{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.mapping-content-description h1 {
  font-family: var(--base-ff);
  text-transform: uppercase;
  color: var(--text-color);
  margin-left: 1em;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 0.2em;
}

.mapping-content-description ul li{
  color: var(--text-color);
  font-family: NightZone;
  font-size: 1.3rem;
  margin: 1em 0em;
  max-width: 40ch;
  word-wrap: 1em;
  font-size: 1.5em;
}

.website-text__navigation{
  display: flex;
  flex-direction: row;
}

.website-text__navigation > img{
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}


.content{
  border: 1px solid black;
}